/*this is a CSS comment */
html {
  background-color: #ffffff;

  color:black
}

h1 {
  color: #cc3865;
  font-family:Sigmar-One,sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  line-height: 1;



}

h2 {

color: #cc3865;
font-family:sigmar-one,sans-serif;
font-weight: bold;
font-size: 3rem;
text-align: left;
line-height: 1;

}

h3 {

  color: #cc3865;
  font-family:sigmar-one ,sans-serif;
  font-weight:bold;
  font-size: 1rem;
  text-align: left;
  line-height: 1;
}


p{

  color: #000000;
  font-family:georgia,sans-serif;
  font-weight: regular;
  font-size: 1rem;
  text-align: left;
  line-height: 1;
}


nav{
  color: dark yellow;

}





blockquote {
  font-style: normal;
  text-align: center;
  font-size:1.3rem;
  color:#b2a215;
}



dt{

  font-weight: bold;

}




body{
  margin: 0;
}


/*inline: allows other elements beside on the same line padding,margin,width dont work as
expected.

block:take up one whole line in the browser window padding,margin,width
work as expected

inline-block: allow other elements beside on the same line.
*/


h1{
  background-color: #ffe524;

  /*start at top and go clockwise; top,right,bottom,left*/
  padding: 1em 2em 3em 0.5em;

  margin: 0 1em; /* top/bottom  left/right*/

  border:1px  #000;

  border-radius:10 px;

  display: inline-block;

}

a{
  background-color: yellow;
  display: inline-block;

}


 nav{
 background-color: hotpink;
 text-align: center;

}

 nav ul{
   list-style-type: none;
   padding: 0;
   margin: 0;

 }

 nav li{
   display: inline;

 }

  nav a{
    display: inline-block;
    padding: 0.5em 0.75em;
    background-color: magenta;
    color: white;
    text-decoration: underline;

  }
